*{
    margin: 0;
    padding: 0;
}
.main_header{
    background-color: #add8e6;
}
.head{
    align-items: center;
    justify-content: center;
}
.head .logo{
    display: inline-block;
    margin: 10px auto;
}
.head nav {
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.head nav ul li{
    padding-right: 10px;
    display: inline-block;
}
.head nav ul li a{
    color: #000000;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Pangolin', cursive;
    text-decoration: none;
}
.head nav ul li a:hover{
    text-decoration: underline;
}
.head nav ul li:last-child{
    padding-right: 0;
}
.signBlock div{
    color: #3687F3;
    background-color: lightblue;
    margin-top: 100px;
    border-radius: 50%;
}
.signBlock div p{
    text-align: center;
    transform: translateY(300px);
    color: #000;
}
.signBlock a{
    text-decoration: none;
    font-family: 'Pangolin', cursive;
}

.draw-border {
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #58afd1;
    -webkit-transition: color 0.25s 0.08333s;
    transition: color 0.25s 0.08333s;
    position: relative;
}
.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}
.draw-border:hover {
    color: #ffe593;
}
.draw-border:hover::before, .draw-border:hover::after {
    border-color: #ffe593;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
    transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
    transition-delay: 0s, 0.25s, 0s;
}

.btn {

    background: #1f1a25;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    float: right;
    letter-spacing: 0.05rem;
}
.btn:focus {
    outline: 2px dotted #55d7dc;
}
.playlist_block{
    margin-top: 20px;
}
.pl_name{
    color: #000000;
    font-size: 28px;
    text-align: center;
}
.playlist_title{
    color: #1f1a25;
    font-size: 29px;
    width: 158px;
    display: inline-block;
}
.playlist_desc{
    color: gray;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
}

th {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

th:after {
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

th:first-child {
    border-left: 1px solid #777;
    box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}

tr {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:nth-child(odd) td {
    background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;
}

tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}

tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}

tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}
div#ilp-container {
    position: relative;
    width: 800px;
    margin: 10px auto;
}
input#ilp-id {
    width: calc(62% - 6px);
}
input#ilp-submit {
    width: 25%;
}
div#playlistContainer {
    width: 300px;
    margin-right: 50px;
    display: inline-block;
    float: left;
}
div#playlistContainer2 {
    width: 300px;
    display: inline-block;
    float: right;
}
div#myContainer {
    width: 655px;
    margin: 0 auto;
}