<p class="d-flex justify-content-center">If you like to listen to music you are in the rigth place!!</p>
<% if(isAuth) { %>
<script>
  $("#login-out").attr("href", "/logout").html("Logout");
</script>
<div class="container">
    <div id="myContainer">
        <div id="playlistContainer">
            <h2 class="pl_name"><b>My playlists</b></h2>
            <% for(i = 0;i < playlists.length; i++) { %>
            <div class="playlist_block">
                <span class="playlist_title"><%= playlists[i].get('name') %></span>
                <button data-id="<%= playlists[i].get('id') %>" class="importBtn btn draw-border">Import</button>
            </div>
            <% } %>
            <% for(i = 0;i < imported.length; i++) { %>
            <div class="playlist_block">
                <span class="playlist_title"><%= imported[i].get('name') %></span>
                <span class="playlist_status">Imported</span>
            </div>
            <% } %>
        </div>
        <div id="playlistContainer2">
            <h2 class="pl_name"><b>Playlists for sale</b></h2>
            <% for(i = 0;i < forSale.length; i++) { %>
            <div class="playlist_block">
                <span class="playlist_title"><%= forSale[i].get('name') %></span>
                <button data-id="<%= forSale[i].get('id') %>" id="buy" class="buyBtn btn draw-border">Buy</button>
            </div>
            <% } %>
        </div>
    </div>
</div>
<% } else { %>
<h1>Please <a href="/auth/google">Login</a></h1>
<script>
  $("#login-out").attr("href", "/auth/google").html("Login");
</script>
<% } %>
<script>
  $(".importBtn").each(function () {
    $(this).on("click", function (e) {
      e.preventDefault();
      $.ajax({
        url: "/import",
        type: "get",
        data: {"playlistId": $(this).attr("data-id")}
      })
    })
  });

  $(".buyBtn").each(function () {
    $(this).on("click", function (e) {
      e.preventDefault();
      $.ajax({
        url: "/buy",
        type: "get",
        data: {"playlistId": $(this).attr("data-id")}
      }).success(function () {
        alert("ASd");
      })
    })
  })
</script>
