<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
</head>
<body>
    <div class="site_head">
        <header class="main_header">
            <div class="container">
                <div class="head d-flex flex-row">
                    <div class="logo col-lg-5">
                        <!--<i class="fa fa-lastfm fa-4x" aria-hidden="true"></i>-->
                        <i class="fa fa-empire fa-3x" aria-hidden="true"></i>
                    </div>
                    <nav class="menu">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/">Main</a></li>
                            <li><a href="/create-playlist">Create Playlist</a></li>
                            <li><a href="/playlist">Playlists</a></li>
                            <li><a href="/payment">Payment</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>
    <%- body %>
</body>
</html>
